# no environment variables or dotfiles
*.env
.*

# no secrets
*secrets.yaml
*secrets.yml

# no databases, logfiles or archives
*.db
*.db*
*.sql
*.sqlite
*.log
*.tar.gz
*.zip

# no hass snapshots
hass/config/www/snapshots/

# nothing from these directories
heimdall/*

